<!DOCTYPE html>
<html lang="id" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tokolitik</title>
        <%- include('../layouts/public/head'); %>
    </head>
    <body>
    <%- include('../layouts/public/header'); %>

    <%- include('../pages/content/landing'); %>
    <%- include('../pages/content/modal'); %>

    <%- include('../layouts/public/footer'); %>
    
    </body>
</html>
